<app-logo></app-logo>

<section class="animate__animated animate__fadeIn animate__fast section-container">
  <form class="xl:flex xl:justify-self-center" #userName="ngForm" (submit)="submitUser(userName.value.player)">
    <label class="xl:w-9/12" for="player">
      <span class="block text-white mb-1">Nombre de jugador</span>
      <input class="input" type="text" name="player" id="player" placeholder="Escribe el nombre..." required ngModel #player="ngModel">
    </label>
    <button class="button-primary" [disabled]="player.invalid">A Jugar!</button>
  </form>
</section>