<back-button toRoute="/"></back-button>

<app-logo></app-logo>

<section class="section-container flex flex-col gap-5 animate__animated animate__fadeIn animate__fast">
    <h1 class="mx-auto font-black text-pallette-dark text-xl xl:text-2xl">Escoge la dificultad</h1>
    <a class="button-primary" role="button" [routerLink]="['/questions', 'easy']">Fácil</a>
    <a class="button-primary" role="button" [routerLink]="['/questions', 'medium']">Medio</a>
    <a class="button-primary" role="button" [routerLink]="['/questions', 'hard']">Difícil</a>
</section>