<div *ngIf="answer">
    <back-button toRoute="/review"></back-button>

    <section class="text-center mt-10 mx-auto xl:w-1/2 animate__animated animate__fadeIn animate__fast">
        <section class="bg-background-dark rounded-lg shadow-lg p-4">
            <p class="text-white text-center text-sm mb-3 md:text-base">
                <ng-katex-paragraph [paragraph]="questionData.question"></ng-katex-paragraph>
            </p>

            <div class="flex flex-col gap-3">
                <span class="button-primary text-sm md:text-base">
                    <ng-katex-paragraph paragraph="Repuesta correcta: {{ questionData.correctOption | shortOption }}. {{ getOption(questionData.correctOption) }}"></ng-katex-paragraph>
                </span>
                <span class="text-sm md:text-base" [ngClass]="answer.isCorrect ? 'button-primary' : 'button-error'">
                    <ng-katex-paragraph paragraph="Respuesta elegida: {{ answer.selectedOption | shortOption }}. {{ getOption(answer.selectedOption) }}"></ng-katex-paragraph>
                </span>
            </div>
        </section>

        <section *ngIf="questionData.explanation" class="mt-10">
            <a class="text-pallette-dark font-black underline text-xl xl:text-2xl cursor-pointer"
                (click)="openExplanation()">
                Ver explicación
            </a>
        </section>
    </section>

    <div *ngIf="explanationModalIsOpened && questionData.explanation">
        <app-modal [modalText]="questionData.explanation"></app-modal>
    </div>

</div>

<div *ngIf="!answer">
    <app-spinner></app-spinner>
</div>

