<div>
    <section class="section-container question">
        
        <app-timer class="my-0 mx-auto"></app-timer>

        <app-number class="my-0 mx-auto"></app-number>
        
        <p class="text-center text-white">
            El producto se define como el resultado de la multiplicación de dos valores. Según lo anterior, ¿Cual es el producto de 2x2?
        </p>
    </section>

    <section class="mt-6 flex flex-col gap-3 section-container">
        <button class="button-secondary focus:outline-none">A. 4</button>
        <button class="button-secondary focus:outline-none">B. 537</button>
        <button class="button-secondary focus:outline-none">C. 786</button>
        <button class="button-secondary focus:outline-none">D. 0</button>
    </section>
</div>