<div *ngIf="question">
    <section class="section-container question">

        <app-timer [time]="time | timer" class="my-0 mx-auto"></app-timer>

        <app-number [firstNumber]="questionNumber" [lastNumber]="questionsLength" class="my-0 mx-auto">   
        </app-number>

        <p class="text-center text-white">
            <ng-katex-paragraph [paragraph]="question.question"></ng-katex-paragraph>
        </p>
    </section>

    <section class="mt-6 flex flex-col gap-3 section-container">

        <button #buttonRef *ngFor="let option of question.options | keyvalue" [value]="option.key"
            (click)="answer(buttonRef)" class="button-secondary focus:outline-none" [disabled]="isAnswered">

            <ng-katex-paragraph paragraph="{{ option.key | shortOption }}. {{ option.value['answer'] }}"></ng-katex-paragraph>

        </button>

    </section>
</div>

<div *ngIf="!question">
    <app-spinner></app-spinner>
</div>